@font-face {
	font-family: 'davidwinter';
	src:url('/fonts/davidwinter.eot');
	src:url('/fonts/davidwinter.eot?#iefix') format('embedded-opentype'),
		url('/fonts/davidwinter.woff') format('woff'),
		url('/fonts/davidwinter.ttf') format('truetype'),
		url('/fonts/davidwinter.svg#davidwinter') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'davidwinter';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter, .icon-github, .icon-star, .icon-feed, .icon-link {
	font-family: 'davidwinter';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-github:before {
	content: "\e001";
}
.icon-star:before {
	content: "\e002";
}
.icon-feed:before {
	content: "\e003";
}
.icon-link:before {
	content: "\e004";
}
