@import url("font.css");
body {
  color: #444;
  font-size: 10px;
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
  padding: 0 10px;
  font-family: Georgia, "Times New Roman", serif; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #555566; }

.post header {
  font-size: 1.4rem; }

header {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #cccccc; }
  header ul {
    font-size: 1.4rem;
    margin: 10px 0;
    padding: 0; }
    header ul li {
      list-style-type: none;
      display: inline;
      padding: 0 5px; }
      header ul li a:hover {
        text-decoration: none; }
      @media screen and (max-width: 500px) {
        header ul li span {
          display: none; } }
  header h1 {
    margin-bottom: 10px; }
  header h2 {
    font-size: 1.2rem;
    margin-bottom: 20px; }
  header a {
    color: blue; }
    header a:visited {
      color: blue; }

header, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.posts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  .posts h3 {
    font-size: 1.8rem;
    margin-bottom: 10px; }
  .posts li {
    margin-bottom: 40px; }
    .posts li.link {
      padding-left: 20px; }
      .posts li.link h3 {
        font-size: 1.4rem; }
        .posts li.link h3 i {
          color: #d9b54a;
          padding-right: 5px; }
      .posts li.link p {
        margin-top: 5px; }
  .posts p {
    font-size: 1.7em; }

article h1 {
  font-size: 1.8rem;
  margin-bottom: 50px;
  color: #111; }
article h2 {
  font-size: 1.6rem;
  border-bottom: 1px solid #cccccc;
  color: #111;
  margin-top: 50px; }
article h3 {
  font-size: 1.4rem;
  margin-top: 50px;
  color: #111; }
article p, article li {
  font-size: 1.4rem;
  line-height: 1.5; }
article li {
  margin-bottom: 15px; }
article blockquote {
  color: #333;
  border-left: 1em solid #bbb;
  margin-left: 10px;
  padding-left: 10px;
  font-style: italic; }
article pre {
  border: 1px solid #CACACA;
  line-height: 1.2em;
  font: 1.4rem Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin: 1.5em 0;
  overflow-x: auto;
  white-space: pre; }
article pre code, article p code {
  margin-bottom: 0; }
article p code, article li code {
  font: 0.8em Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595D;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #CCC;
  background-color: #F9F9F9;
  padding: 0 0.5em;
  display: inline-block;
  margin-bottom: 0; }

.post_date, .post_contact {
  margin-top: 50px;
  font-size: 1rem;
  color: #cccccc;
  text-align: center; }

.post_contact {
  font-size: 1.3rem;
  color: #444; }
  .post_contact a, .post_contact a:visited {
    color: blue; }

footer {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
  margin: 50px 0;
  font-size: 1.3rem;
  text-align: center; }

hr {
  border: none;
  border-top: 1px solid #cccccc;
  width: 75%;
  margin: 30px auto; }
