---
layout: layout
title: david winter
---

<ol class="posts">
	{% for post in site.posts %}
	<li{% if post.category == 'links' %} class="link"{% endif %}>
		<h3>
			{% if post.category == 'links' %}
			<i class="icon-star"></i>{% endif %}
			<a href="{% if post.category == 'links' %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h3>
		{% if post.description %}
		<p>{{ post.description }}</p>
		{% endif %}
	</li>
	{% endfor %}
</ol>
