---
layout: layout
title: david winter
---

<ol class="posts">
	{% for post in site.categories.links %}
	<li class="link">
		<h3>
			<i class="icon-star"></i>
			<a href="{{ post.link }}">{{ post.title }}</a></h3>
		{% if post.description %}
		<p>{{ post.description }}</p>
		{% endif %}
	</li>
	{% endfor %}
</ol>
