<!DOCTYPE html>

<html id="top">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="You were expecting someone else? Blog of Website Developer working in London." />
	<meta name="keywords" content="david winter, tech, technology, ubuntu, linux, programming, internet, web development, php, java" />
	<meta name="author" content="David Winter" />
	
	<title>{{ page.title }}</title>

	<meta name="twitter:site" content="@davidwinter" />
	<meta name="twitter:creator" content="@davidwinter" />
	<meta name="twitter:domain" content="http://davidwinter.me" />
	
	{% if page.url != '/index.html' and page.url != '/links/index.html' %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ page.title }}" />
	<meta name="twitter:description" content="{{ page.description }}" />
	<meta name="twitter:image" content="{{ site.site_image }}" />

	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://davidwinter.me{{ page.url }}" />
	<meta property="og:image" content="{{ site.site_image }}" />
	{% endif %}

	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" /> 
	<link rel="openid2.local_id" href="http://www.google.com/profiles/i.davidwinter" />

	<link href="/index.xml" type="application/atom+xml" rel="alternate" title="Atom feed" />
</head>
<body{% if page.url != '/index.html' and page.url != '/links/index.html' %} class="post"{% endif %}>

	<header>
		{% if page.url == '/index.html' or page.url == '/links/index.html' %}<h1>{% else %}<h3>{% endif %}
			<a href="/">david winter</a>
		{% if page.url == '/index.html' or page.url == '/links/index.html' %}</h1>{% else %}</h3>{% endif %}

		{% if page.url == '/index.html' or page.url == '/links/index.html' %}
		<h2>you were expecting someone else?</h2>
		{% endif %}
		<ul>
			<li>
				<a href="/links"><i class="icon-star"></i><span> Links</span></a>
			</li>
			<li>
				<a href="https://twitter.com/davidwinter"><i class="icon-twitter"></i><span> Twitter</span></a>
			</li>
			<li>
				<a href="https://github.com/davidwinter"><i class="icon-github"></i><span> GitHub</span></a>
			</li>
			<li>
				<a href="/index.xml"><i class="icon-feed"></i><span> Atom</span></a>
			</li>
		</ul>
	</header>
	<section>
		{{ content }}
	</section>
	<footer>
		<a href="#top">&uarr;</a>
	</footer>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45982897-1', 'davidwinter.me');
	  ga('send', 'pageview');

	</script>
</body>
</html>
