---
layout: layout
---

<article>
	<h1>{{ page.title }}</h1>
    {{ content }}
</article>
<p class="post_date">{{ page.date | date: "%B %e, %Y" }}</p>
<p class="post_contact">Questions? Comments? Your 2&cent;'s? &rarr; <a href="https://twitter.com/davidwinter">@davidwinter</a></p>
